<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Contacts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Contact Management System</h1>
    </header>
    <div class="container">
        <h2>All Contacts</h2>
        <ul>
            {% for idx, contact in contacts %}
                <li><a href="/{{ idx }}">{{ contact.name }}</a> (<a href="/edit/{{ idx }}">Edit</a>)</li>
            {% endfor %}
        </ul>
        <a href="/add">Add New Contact</a>
    </div>
    <footer>
        <p>&copy; Raz Mazlih</p>
    </footer>
</body>
</html>